id: 62dc0e2a-1b57-4829-9ad8-7147c0b7eb1e
version: v2
name: spring-new-everything
apptype: api
language: java
containerName: spring-new-everything
toolchain:
  id: 58e5db5bacac5a0020e2b939
  name: Qubeship-Java-Toolchain
opinion:
  id: 58e5da9513d0cc000e88a961
  name: Qubeship default opinion
endpoint:
  id: 58e1cbf02a0603000b3e58a4
  name: Qubeship Sandbox Cluster
  type: target
variables:
  - name: APP_VERSION
    value: v0.1
build:
  compile:
    publish:
     - target/
bake:
  skip: false
test:
  skip: true
deploy_to_qa:
  skip: true
deploy_to_prod:
  skip: false

